html {
    border: 2px solid red;
    width: 98vw;
}

table {
    border-collapse: collapse;
}

th, tr, td {
    border: 1px solid red;
    width: 100px;

}
th.grupos {
    width: 100px;
}

th.nomes {
    width: 200px;
}

th.filmes {
    width: 100px;
}

.td-grupos {
    text-align: center;
} 

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px 0px;
}